<%- include('partials/header') %>
<div class="jumbotron">
    <h3><%= data %></h3>
    <a class="btn btn-dark btn-md btn-home" href="/" role="button"
          >Home Page</a
        >
</div>
<%- include('partials/footer') %>